{% extends 'layout.twig' %}

{% block content %}
    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
                    <h2 class="mb-5">Liste des posts</h2>
            {% for post in posts %}
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3  class="mb-0">{{ post.title }}<small class="font-weight-light font-italic"> by {{post.authorname}}</small></h3>
                            <div class="text-capitalized mb-3">{{post.chapo}}</div>
                            <a onclick="changement();" href="./?p=blog&d=post&id={{post.postid}}" >Lire l'article </a>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">{{post.last_mod}}</span>
                        </div>
                </div>
            {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

