{%extends 'layout.twig' %}

{% block content  %}

    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="row">
                <h2 class="col text-md-right">{{ post.title}}</h2>
                <p class="col text-md-left my-auto">by {{post.author_nickname}} le {{ post.last_mod }} </p>
                <div class="w-100"></div>
                <p class="col lead text-center font-italic border-top border-bottom">{{ post.chapo }}</p>
            </div>


            <div class="row-fluid mx-auto my-4 text-capitalized text-justify">
                {% autoescape %}
                    {{post.content|raw}}
                {% endautoescape %}

            </div>

            {% block list_comment  %}
                <div class="border-top my-2">
                    <h4>Commentaires</h4>
                    <div class="position-absolute">
                        {% block input_comment  %}

                            <form class="needs-validation d-flex flex-column" method="post" action="index.php?p=add_comment&post=1" novalidate>
                                <input type="hidden" name="postid" value="{{post.postid}}">
                                <div class="form-col">
                                    <div class="">
                                        <input type="text" name="last_name" class="form-control" id="validationCustom01" placeholder="Nom" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="">
                                        <input type="text" name="first_name" class="form-control" id="validationCustom02" placeholder="Prénom" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-col">
                                    <div class="">
                                        <input type="email" name="email" class="form-control" id="validationCustom05" placeholder="E-mail" required>
                                        <div class="invalid-feedback">
                                            Donnez un mail valide.
                                        </div>
                                    </div>
                                    <div class="">
                                        <input type="text" name="comment" class="form-control" id="validationCustom06" placeholder="Commentaire" required>
                                        <div class="invalid-feedback">
                                            Ne laissez pas le commentaire vide.
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </form>
                            <div class="validation alert alert-primary" style="display:none" role="alert">
                                Votre commentaire sera soumis à validation.
                            </div>

                        {% endblock %}
                    </div>
                    {% for comment in comments %}
                        <div class="row w-50 my-2 py-2 mx-auto flex-column border-bottom ">
                            <div class="mx-auto border-bottom">{{ comment.first_name }} {{comment.last_name}} <small>le {{comment.last_mod}}</small></div>
                            <div class="mx-auto">{{comment.comment}}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}


        </section>
    </div>

{% endblock %}

